.App {
  text-align: center;
}
body{
  background-color: #262626;
}
.logo {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.App-header {
  background-color: #545454;
  padding: 20px;
  color: white;
  position: relative;
}
.navbar{
  float: left;
  margin-left: 40px;
  position: relative;
  bottom: 8px;
}
.App-intro {
  font-size: large;
}
.App-body{
  padding: 20px;
}
.link{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.link-active{
  border-bottom: 2px solid white;
}
.login{
  float: right;
  position: relative;
  bottom: 7px;
}
