.App {
  text-align: center;
}
body{
  background-color: #fff;
}
.logo {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.App-header {
  background-color: #000;
  padding: 20px;
  color: white;
  position: relative;
}
.navbar{
  float: left;
  margin-left: 40px;
  position: relative;
  bottom: 8px;
}
.navbar .link{
  margin-left: 10px;
}
.App-intro {
  font-size: large;
}
.App-body{
  padding: 20px 0;
}
.link{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.link-active{
position: relative;
}
.link-active::before{
content : "";
 position: absolute;
 left    : 0;
 bottom  : -10px;
 height  : 10px;
 width   : 100%;
 border-bottom:5px solid white;

}
.login{
  float: right;
  position: relative;
  bottom: 7px;
}
